* {
  z-index: 1;
}
hr {
  width: 100%;
  margin-top: 40px;
}
button {
  background-color: rgb(114, 114, 170);
  border-radius: 5px;
  border: 0px;
  margin-left: 5px;
}
ul {
  list-style: none;
}
#root {
  display: flex;
  justify-content: center;
}
#topBar {
  display: block;
  width: 100%;
}
#todo {
  display: block;
}
#coins {
  display: block;
  margin-top: 20px;
}
#popup {
  z-index: 3;
  position: absolute;
  text-align: center;
  left: 600px;
}
#coins {
  text-align: center;
}
#todoWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
#appWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#todo_wrap {
  display: flex;
  flex-direction: column;
}
#titleName {
  display: inline;
}
#logo {
  width: 22px;
  height: 22px;
  display: inline;
  animation: rotate_image 5s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
