input {
  color: black;
}
#tableBox {
  margin: 0 auto;
}
#tableBox > table {
  margin: 0 auto;
}
input:disabled {
  background: gray;
}
#convertTable {
  width: 500px;
  height: 150px;
  border: 1px solid white;
}

#convertTable > th,
td {
  border: 1px solid gray;
}
