input {
  color: black;
}

#tableBox {
  margin: 0 auto;
}
#tableBox > table {
  margin: 0 auto;
}
input:disabled {
  background: gray;
}
#convertTable {
  width: 500px;
  height: 150px;
  border: 1px solid white;
}
#funds {
  margin-bottom: 30px;
}
#leftInput,
#rightInput {
  border-radius: 0;
  border: 0px;
  width: 300px;
  height: 35px;
  background-color: transparent;
  color: white;
  font-size: 17px;
}
.unit {
  margin-left: 5px;
  width: 40px;
}
#symbol {
  margin-left: 5px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cellWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
#convertTable > th,
td {
  border: 1px solid gray;
  min-width: 270px;
  max-width: 270px;
  min-height: 70px;
  overflow: hidden;
}

#cell {
  height: 55px;
}
#ea {
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
#symbol {
  width: 30px;
  display: inline-block;
}
#inputWrap {
  display: flex;
  justify-content: space-between;
  width: 826px;
  margin: 0 auto;
  border: 1px;
  border-color: white;
  border-style: solid;
}
#leftInputBox,
#rightInputBox {
  width: 400px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
}
#leftInput {
  text-align: right;
}
#rightInput {
  text-align: left;
}

#equalBox {
  border-radius: 0;
  margin: 0 auto;
  display: block;
  align-items: center;
  display: flex;
}
#equal {
  margin: auto;
  display: block;
  border: 0px;
  border-radius: 0;
  background-color: rgb(82, 93, 137); /*배경색 투명*/
}
